.customer-name {
	background-color: #a8a6a6;
	font-size: 2em;
	text-align: left;
	padding: 10px;
}
.project-active-member {
	background-color: rgb(133, 16, 16) !important;
}
.h2-manager {
	text-align: left;
	border-bottom: 1px solid #d9d9d9;
}
.form-add-project {
	display: flex;
	gap: 2em;
}
.project-info {
	padding-left: 20px;
	display: flex;
	gap: 2em;
	align-items: center;
	overflow: hidden;
}
.search-project {
	margin-left: auto;
	width: 40%;
	margin-top: -9px;
	margin-right: 15px;
}
.project-name {
	font-size: 1.2em !important;
	font-weight: 600;
	padding: 0px !important;
	text-wrap: nowrap;
}
.project-id {
	border-bottom: 1px solid #d9d9d9;
	display: flex;
}

.open-sans-project-name {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}
.action-wrap {
	margin-left: auto;
}
@media (max-width: 599px) {
	.h2-manager {
		text-align: center;
		padding: 20px;
	}
	.project-info {
		gap: 2px;
	}
	.search-project {
		margin-top: 2px;
	}
	.customer-name {
		width: 100%;
		padding-left: 20px;
	}
}
